<div class=" p-5" style="background-color:grey ;"> 
    <div class="container d-flex p-2 " > 
   <div class="d-flex p-2 me-4 " > 
       <a (click)="filter('')"> 
            <img  style="  height:100px; width:100px; border-radius: 50px;" src="https://i.postimg.cc/Cx18qPW9/supermarket-grocery-products-cartoon-24640-26648.webp" alt=""> 
            <h6>All product</h6> 
       </a> 
   </div> 
   
     <div class="d-flex p-2 me-4 "> 
       <a (click)="filter(1)"> 
        <img style="height:100px; width:100px; border-radius: 50px;" src="https://i.postimg.cc/XYpkfz9T/5-best-running-shoes-under-1000-in-india-94821818.jpg" alt=""> 
 
            <h6>Shoes</h6>    
 
       </a> 
     </div> 
     <div (click)="filter(2)" class="d-flex p-2  me-4"> 
       <a> 
            <img  style="height:100px; width:100px; border-radius: 50px;" src="https://i.postimg.cc/cH4zNcpZ/download.jpg" alt=""> 
            <h6>Watches</h6> 
       </a> 
     </div> 
     <div class="d-flex p-2 "> 
       <a (click)="filter(4)"> 
            <img style="height:100px; width:100px; border-radius: 50px;" src="https://i.postimg.cc/ncyccsVN/download-1.jpg" alt=""> 
            <h6>Fashion</h6> 
       </a> 
     </div> 
 
     <div class="d-flex p-2 "> 
        <a (click)="filter(3)"> 
             <img style="height:100px; width:100px; border-radius: 50px;" src="https://i.postimg.cc/ryx2qfbC/download-2.jpg" alt=""> 
             <h6>Earphones</h6> 
        </a> 
      </div> 
     </div> 
 
 
 </div> 
  
  
 <!-- Section--> 
  <section class="py-5" style="background: linear-gradient(rgb(159, 159, 232),snow);"> 
    <div class="container px-4 px-lg-5 mt-5"> 
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"> 
            <div *ngFor="let i of  filterproducts | filter:searchkey:'productName' " class="col mb-5" style="background-color: rgb(184, 210, 232);" > 
                <div class="card h-100"> 
                    <!-- Product image--> 
                    <img style="height:300px ;" class="card-img-top" src="{{i.productImage}}" alt="..." /> 
                    <!-- Product details--> 
                    <div class="card-body p-4"> 
                        <div class="text-center"> 
                            <!-- Product name--> 
                            <h5 class="fw-bolder">{{i.productName}}</h5> 
                            <p>{{i.Description}}</p> 
                            <!-- Product price--> 
                            Rs.{{i.price}} 
                        </div> 
                    </div> 
                    <!-- Product actions--> 
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent"> 
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="product/view-product/{{i.id}}">View options</a></div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
</section>